#include <windows.h>
IDI_ICON1 ICON "favicon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION     1,0,0,0
 PRODUCTVERSION  1,0,0,0
 FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
 FILEFLAGS       0
 FILEOS          VOS__WINDOWS32
 FILETYPE        VFT_APP
 FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "MessyGear Studios"
            VALUE "FileDescription",  "Tiny Wonder"
            VALUE "FileVersion",      "1.0.0"
            VALUE "InternalName",     "Tiny_Wonder"
            VALUE "OriginalFilename", "Tiny_Wonder.exe"
            VALUE "ProductName",      "Tiny Wonder"
            VALUE "ProductVersion",   "1.0.0"
            VALUE "LegalCopyright",   "N/A"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 1200, 0x0409
    END
END